<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li *ngIf="!authService.loggedIn()">
      <a routerLink="/signup" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="!authService.loggedIn()">
      <a routerLink="/signin" routerLinkActive="active">Sign in</a>
    </li>
    <li *ngIf="authService.loggedIn()">
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
    <li *ngIf="authService.loggedIn()">
      <a (click)="onLogoutClick()" href="#">Logout</a>
    </li>
  </ul>
</nav>
