<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded sticky-top navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="/">Wow blog</a>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
      <div class="navbar-nav mr-auto">
        <!-- <a class="nav-item nav-link" routerLink="/aezd" routerLinkActive="active">Feed</a> -->
        <a class="nav-item nav-link" *ngIf="authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a class="nav-item nav-link" *ngIf="!authService.loggedIn()" routerLink="/signup" routerLinkActive="active">Sign up</a>
        <a class="nav-item nav-link" *ngIf="!authService.loggedIn()" routerLink="/signin" routerLinkActive="active">Sign in</a>
        <a class="nav-item nav-link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">Logout</a>
      </div>
    </div>
  </div>
</nav>


<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar navbar-nav navbar-left">
        <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Feed <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar navbar-nav navbar-right">
        <li class="nav-item" *ngIf="authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/signin">Sign in</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
