<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded sticky-top navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="/feed">Wow blog</a>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/feed" routerLinkActive="active">Feed</a>
        <a class="nav-item nav-link" *ngIf="authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a class="nav-item nav-link" *ngIf="!authService.loggedIn()" routerLink="/signup" routerLinkActive="active">Sign up</a>
        <a class="nav-item nav-link" *ngIf="!authService.loggedIn()" routerLink="/signin" routerLinkActive="active">Sign in</a>
        <a class="nav-item nav-link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">Logout</a>
      </div>
    </div>
  </div>
  <app-growler></app-growler>
</nav>
