.input-merge-bot {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host>>>.alert-custom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
