.album {
	min-height: 50rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #f7f7f7;
}

h2 {
  margin-bottom: 20px;
	width: 12rem;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.card {
  margin-bottom: 2rem;
}

.newpost {
	display: flex;
	float: right;
}
