<div class="album text-muted">
  <div class="container">
    <div class="container-fluid">
      <a class="btn btn-primary newpost" routerLink="/newpost" routerLinkActive="active">New post</a>
      <h2>New Posts</h2>
    </div>

    <div class="card-columns" *ngIf="feed; else loaddingBar">
      <div class="card" *ngFor="let post of feed">
        <img class="card-img-top img-fluid" src="{{ post.imageURL }}">
        <div class="card-block">
          <h4 class="card-title">{{ post.title }}</h4>
          <div class="card-text">{{ post.content | truncate: 9 }}</div>
          <div class="post-info">
            <span><i class="material-icons">thumb_up</i> {{ post.karma }}</span>
            <span><i class="material-icons">comment</i> {{ post.comments }}</span>
            <span><i class="material-icons">remove_red_eye</i> {{ post.views }}</span>
          </div>
          <button class="btn btn-primary btn-block" (click)="onSelectPost(post)">View</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ post.date | timeago }} by
            <a [routerLink]="['/user', post.authorId.username]">{{ post.authorId.username }}</a>
          </small>
        </div>
      </div>
    </div>
    <ng-template #loaddingBar>
      <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"><i>fetching feed</i></ngb-progressbar>
    </ng-template>
  </div>
</div>
