<button class="btn btn-secondary btn-sm comment-items" (click)="toggleCommentCreation()" [ngClass]="{
  'text-area-active active': canCreateComment,
  'text-area-inactive': !canCreateComment
}">message creation</button>
<div *ngIf="canCreateComment">
  <form class="" [formGroup]="upForm" (submit)="onCommentSubmit()">
    <div class="form-group" [ngClass]="{
      'has-danger': upForm.controls.newcomment.invalid && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0),
      'has-success': upForm.controls.newcomment.valid && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0)
    }">
      <label class="sr-only" for="inputUsername">Your comment</label>
      <textarea type="text" id="inputUsername" placeholder="Your comment" formControlName="newcomment" class="form-control" [ngClass]="{
        'input-merge-bot': upForm.controls.newcomment.errors && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0)
      }"></textarea>

      <ngb-alert type="custom" [dismissible]="false" *ngIf="upForm.controls.newcomment.errors && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0)">
        <div *ngIf="upForm.controls.newcomment.errors.required">Comment is required</div>
        <div *ngIf="upForm.controls.newcomment.errors.maxlength">Comment must be at most {{ upForm.controls.newcomment.errors.maxlength.requiredLength }} characters long</div>
      </ngb-alert>

    </div>
    <input type="submit" [disabled]="!upForm.valid" class="btn btn-block btn-primary comment-items" value="Submit">
  </form>
</div>

<div *ngIf="comments && comments.length > 0">
  <div class="comment container-fluid" *ngFor="let comment of comments">
    <div class="comment-reply">
      <span>reply</span>
    </div>
    <div class="comment-meta">
      <span>{{ comment.authorId.username }} at {{ comment.date | date: 'HH:mm' }}, {{ comment.date | date }}
        <i *ngIf="comment.modified">modified</i>
      </span>
    </div>
    <div class="comment-vote">
      <button class="btn btn-secondary btn-sm" (click)="upvoteComment(comment)" [ngClass]="{
        'active upvoted': comment.vote !== null && comment.vote == 1
      }">+</button>
      <span>{{ comment.karma }}</span>
      <button class="btn btn-secondary btn-sm" (click)="downvoteComment(comment)" [ngClass]="{
        'active downvoted': comment.vote !== null && comment.vote == -1
      }">-</button>
    </div>
    <div class="comment-content">
      <span>{{ comment.content }}</span>
    </div>
  </div>
</div>
