.input-merge-bot {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host>>>.alert-custom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.text-area-active::before {
  content: "hide ";
}

.text-area-inactive::before {
  content: "show ";
}

.comment-items {
  margin-bottom: 1rem;
}

.upvoted {
  background-color: rgba(69, 230, 80, 0.37);
}

.downvoted {
  background-color: rgba(230, 69, 69, 0.37);
}
