<div *ngIf="authService.loggedIn(); else mustLogIn">
  <button class="btn btn-secondary btn-sm comment-items" (click)="toggleRootCommentCreation()" [ngClass]="{
  'text-area-active active': canCreateComment,
  'text-area-inactive': !canCreateComment
}">message creation</button>
</div>
<ng-template #mustLogIn>
  <p class="text-muted"><i>You must <a routerLink="/signin">sign in</a> to join the conversation.</i></p>
</ng-template>
<div *ngIf="canCreateComment">
  <form class="" [formGroup]="upForm" (submit)="onRootCommentSubmit()">
    <div class="form-group" [ngClass]="{
      'has-danger': upForm.controls.newcomment.invalid && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0),
      'has-success': upForm.controls.newcomment.valid && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0)
    }">
      <label class="sr-only" for="inputUsername">Your comment</label>
      <textarea type="text" id="inputUsername" placeholder="Your comment" formControlName="newcomment" class="form-control" [ngClass]="{
        'input-merge-bot': upForm.controls.newcomment.errors && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0)
      }"></textarea>

      <ngb-alert type="custom" [dismissible]="false" *ngIf="upForm.controls.newcomment.errors && (upForm.controls.newcomment.dirty || upForm.controls.newcomment.touched) && (upForm.controls.newcomment.value !== null && upForm.controls.newcomment.value.length > 0)">
        <div *ngIf="upForm.controls.newcomment.errors.required">Comment is required</div>
        <div *ngIf="upForm.controls.newcomment.errors.maxlength">Comment must be at most {{ upForm.controls.newcomment.errors.maxlength.requiredLength }} characters long</div>
      </ngb-alert>

    </div>
    <input type="submit" [disabled]="!upForm.valid" class="btn btn-block btn-primary comment-items" value="Submit">
  </form>
</div>

<div *ngIf="rootComments && rootComments.length > 0">
  <div *ngFor="let comment of rootComments">
    <app-comment [shortCommentId]="comment.shortCommentId" [nestLevel]="0"></app-comment>
  </div>
</div>
