<div class="page-padding">
  <div class="container">
    <div class="blog-post" *ngIf="post">
      <h2 class="blog-post-title">{{ post.title }}</h2>
      <p class="blog-post-meta">{{ post.date | date }} at {{ post.date | date: 'HH:mm' }} by {{ post.authorId.username }}</p>
      <p class="content">{{ post.content }}</p>
      <div class="rating-section">
        <button class="btn btn-secondary btn-sm vote" (click)="upvotePost()">+</button>
        <button class="btn btn-secondary btn-sm vote" (click)="downvotePost()">-</button>
        <i>karma {{ post.karma }}, views {{ post.views }}</i>
      </div>
      <app-commentsection [comments]="post.comments"></app-commentsection>
    </div>
  </div>
</div>
