.page-padding {
  padding-top: 3rem;
}

.content {
  color: #555;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.rating-section {
  margin-bottom: 1rem;
}

.vote {
  width: 35px;
}

.upvoted {
  background-color: rgba(69, 230, 80, 0.37);
}

.downvoted {
  background-color: rgba(230, 69, 69, 0.37);
}
