<div class="container">
  <h2>Sign up</h2>
  <form [formGroup]="upForm" (ngSubmit)="onRegisterSumbit()">
    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <input type="text" placeholder="Name" formControlName="name" class="form-control">
    </div>
    <div class="form-group" [ngClass]="{
        'has-danger': upForm.controls.username.invalid && upForm.controls.username.dirty,
        'has-success': upForm.controls.username.valid && upForm.controls.username.dirty
    }">
      <label class="col-md-2 control-label">Userame</label>
      <input type="text" placeholder="Username" formControlName="username" class="form-control">

      <span class="help-block" *ngIf="upForm.controls.username.errors && (upForm.controls.username.dirty || upForm.controls.username.touched)">
        <ngb-alert type="warning" [dismissible]="false" *ngIf="upForm.controls.username.errors.required">Username is required</ngb-alert>
        <ngb-alert type="warning" [dismissible]="false" *ngIf="upForm.controls.username.errors.minlength">Username must be at least 3 characters long</ngb-alert>
        <ngb-alert type="warning" [dismissible]="false" *ngIf="upForm.controls.username.errors.unavailable">Username taken! Chose another one</ngb-alert>
      </span>

    </div>
    <div class="form-group" [ngClass]="{
        'has-danger': upForm.controls.email.invalid && upForm.controls.email.dirty,
        'has-success': upForm.controls.email.valid && upForm.controls.email.dirty
    }">
      <label class="col-md-2 control-label">Email</label>
      <input type="text" placeholder="Email" formControlName="email" class="form-control">

      <span class="help-block" *ngIf="upForm.controls.email.errors && (upForm.controls.email.dirty || upForm.controls.email.touched)">
        <ngb-alert type="warning" [dismissible]="false"  *ngIf="upForm.controls.email.errors.required">Email is required</ngb-alert>
        <ngb-alert type="warning" [dismissible]="false"  *ngIf="upForm.controls.email.errors.email">Email must be valid</ngb-alert>
        <ngb-alert type="warning" [dismissible]="false"  *ngIf="upForm.controls.email.errors.unavailable">Email taken! Chose another one</ngb-alert>
      </span>

    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Password</label>
      <input type="password" placeholder="Password" formControlName="password" class="form-control">
    </div>
    <input type="submit" [disabled]="!upForm.valid" class="btn btn-primary" value="Submit">
  </form>
  <pre>{{upForm.value | json}}</pre>
</div>
